.seleted-element-highlight {
    outline: 2px solid #149e16 !important;
    background-color: rgba(0, 213, 82, 0.2) !important;
	background: rgba(0, 213, 82, 0.2) !important;
}

.seleted-element-highlight * {
    background-color: rgba(0, 213, 82, 0.2) !important;
	background: rgba(0, 213, 82, 0.2) !important;
}

.hovered-element-highlight {
    outline: 2px solid rgb(127, 97, 7) !important;
    background-color: rgba(213, 106, 0, 0.2) !important;
	background: rgba(213, 106, 0, 0.2) !important;
}

.hovered-element-highlight * {
    background-color: rgba(0, 213, 0, 0.20) !important;
	background: rgba(0, 213, 0, 0.20) !important;
}

.select-tool-bar{
    z-index:999999;
    position: fixed;
    padding: 10px;
    border: 3px solid #3d6406;
    opacity: 0.9;
    text-align: center;
    height: 100%;    
    width: 30%;
    background-color: grey;
}
/* .input-field {
    width: 90%;
    margin-top: 10px;
  }
.show-select-xpath{
    width: 90%;
    margin-top: 10px;
  }  
.button-div{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 90%;
} */
