.side-bar {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999999999;
    width: 350px;
    height: 100%;
    border: 0;
    opacity: 0.92;
    background: #888 !important;
    box-shadow: 0 0 15px rgb(0 0 0 / 15%);
  }
  
  /* top app bar */
  .top-bar-controls {
    background: #bbb;
    padding: 5px;
  }
  
  .top-bar-controls-buttons {
    display: flex;
    justify-content: space-between;
    height: 24px;
  }
  .feature-buttons {
    width: 70%;
  }
  
  .new-template-button {
    background-image: url("https://scontent.fkiv4-1.fna.fbcdn.net/v/t1.15752-9/280198597_477698030800995_2636123365359430549_n.jpg?stp=cp0_dst-jpg&_nc_cat=101&ccb=1-6&_nc_sid=ae9488&_nc_ohc=aZgFgRdrRzMAX8OC_ya&_nc_ht=scontent.fkiv4-1.fna&oh=03_AVKAuO42DVkm6D-8FyM7YVv76cxVnpcqKVm56A-85C2_vA&oe=62A677C4");
  }
  
  .show-templates-button {
    background-image: url("https://scontent.fkiv4-1.fna.fbcdn.net/v/t1.15752-9/279972182_528374635646097_5719703716744274696_n.jpg?stp=cp0_dst-jpg&_nc_cat=100&ccb=1-6&_nc_sid=ae9488&_nc_ohc=mYGh318UKxgAX8mHY_S&_nc_ht=scontent.fkiv4-1.fna&oh=03_AVIM1j9jOIi7vJExc5xsiadwxE76FBkVAuIDE8rNCp-W9Q&oe=62A785F3");
  }
  
  .done-button {
    background-image: url("https://cdn-icons-png.flaticon.com/512/1828/1828644.png");
  }
  
  .plain-button {
    margin-right: 2%;
    width: 12%;
    height: 100%;
    border-width: 0px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    background-size: cover;
    background-position: center;
  }
  
  .close-button {
    background-image: url("https://scontent.fkiv4-1.fna.fbcdn.net/v/t1.15752-9/280289639_373666251465832_8303677644390743859_n.jpg?stp=cp0_dst-jpg&_nc_cat=100&ccb=1-6&_nc_sid=ae9488&_nc_ohc=76aUxGTUitYAX_vU7la&_nc_ht=scontent.fkiv4-1.fna&oh=03_AVKHO8MJOoVa0yBpMjW8spyy8l7ezQywIhDgrf9_1V-0Iw&oe=62A79073");
    width: 28px;
    margin-right: 0;
  }
  
  .option-info-button {
    background-image: url("https://scontent.fkiv4-1.fna.fbcdn.net/v/t1.15752-9/280291943_371688405000576_4389141172671446217_n.jpg?stp=cp0_dst-jpg&_nc_cat=105&ccb=1-6&_nc_sid=ae9488&_nc_aid=0&_nc_ohc=ErWZCZIe8joAX9xyoOM&tn=bMsstPLvOqTeK3VP&_nc_ht=scontent.fkiv4-1.fna&oh=03_AVIRLd_deQY8glVorZIEIq3H030N6owuwN6PCXt1t5_wKg&oe=62A7348F");
    width: 28px;
    margin-right: 0;
    margin-left: 10%;
  }
  /* navigation buttons */
  
  .next-button {
    opacity: 0.5;
    background-image: url("https://scontent.fkiv4-1.fna.fbcdn.net/v/t1.15752-9/280174176_673384643749539_6169296323667274686_n.png?stp=cp0_dst-png&_nc_cat=105&ccb=1-6&_nc_sid=ae9488&_nc_ohc=JzRpGG_HIZIAX9SDy8o&_nc_ht=scontent.fkiv4-1.fna&oh=03_AVJbr20FONq46p0uk21WONEc_YK2AV5dH0KnwGN72nd-TA&oe=62AAE8F9");
  }
  /* start tempalte */
  
  .pick-href-button {
    background-image: url("https://scontent.fkiv4-1.fna.fbcdn.net/v/t1.15752-9/280632108_1195928727877654_6105680214373420746_n.png?stp=cp0_dst-png&_nc_cat=105&ccb=1-6&_nc_sid=ae9488&_nc_ohc=Bn0RdIsUdWcAX_eWftS&_nc_ht=scontent.fkiv4-1.fna&oh=03_AVJFNfvehmZLDAZVOcSo1JhD3i8IQW-zAFWt-LeT_SDCXw&oe=62AA5466");
  }
  .start-template-container {
    padding: 5px 5px;
  }
  .start-extraction-container {
    height: 20px;
  }
  .template-field-container {
    color: #ca1616;
    border-bottom: 1px dashed #eeeeee70;
  }
  .input-field-template {
    width: 55%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .page-link-counter {
    width: 20px;
  }
  /* start url text and input */
  .site-domain-container {
    padding: 3px 4px 0px 0px;
    font-weight: bold;
    color: #272727f5;
  }
  
  /* field */
  .field {
    border-bottom: 1px dashed #eeeeee70;
    padding: 5px 5px;
  }
  
  .inner {
    position: relative;
    padding: 6px 0;
  }
  
  .top {
    margin-bottom: 4px;
    padding-right: 11px;
    display: flex;
    justify-content: space-between;
  }
  
  .input-field {
    background-color: rgba(0, 0, 0, 0.23);
    border-radius: 2px;
    border: 0px;
    outline-color: transparent;
    color: #ffffff;
    padding: 4px 6px;
  }
  .input-field-placeholder::-webkit-input-placeholder {
    color: #bbb;
  }
  .input-field-field-name {
    width: 60%;
    margin-right: 10px;
  }
  
  .field-name-button {
    height: 24px;
    width: 25px;
  }
  
  .pick-button {
    background-image: url("https://scontent.fkiv4-1.fna.fbcdn.net/v/t1.15752-9/280615214_719033202672872_5887076897636849892_n.jpg?stp=cp0_dst-jpg&_nc_cat=109&ccb=1-6&_nc_sid=ae9488&_nc_ohc=1lu6vLxnlJkAX8sNrMx&_nc_ht=scontent.fkiv4-1.fna&oh=03_AVLJ7yzZAT2OAr8aKbDuvr0mmIRW3vx0WFDGnU11K2vz0w&oe=62A6D2B6");
  }
  .reset-selector-button {
    background-image: url("https://scontent.fkiv5-1.fna.fbcdn.net/v/t1.15752-9/280312083_4893577580747965_4843766336744001804_n.jpg?stp=cp0_dst-jpg&_nc_cat=110&ccb=1-6&_nc_sid=ae9488&_nc_ohc=duVgqixm2-QAX9Vgk18&tn=bMsstPLvOqTeK3VP&_nc_ht=scontent.fkiv5-1.fna&oh=03_AVJtzqc9t_-QBGS35YvTRF94tGYcSXSztMGcdtVDDT86Qw&oe=62A7A60B");
  }
  .delete-field-button {
    background-image: url("https://scontent.fkiv4-1.fna.fbcdn.net/v/t1.15752-9/280398117_526786068939423_6338642998207632695_n.jpg?stp=cp0_dst-jpg&_nc_cat=100&ccb=1-6&_nc_sid=ae9488&_nc_ohc=w3ylJFm8bCcAX9Smj_J&_nc_ht=scontent.fkiv4-1.fna&oh=03_AVLNfHc8rjLEuVtI4hxaXWLHLN2VfUjWH_GuN72WKA-v-A&oe=62A62BFD");
  }
  
  .field-buttons-container {
    width: 30%;
    justify-content: space-between;
    display: contents;
  }
  .input-field-xpath {
    padding-right: 13px;
    width: 90%;
  }
  